{% extends "base.html" %}
{% block content %}
<head>
  <title>Izmjeni podatke o članu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<script>
function clicked(e)
{
    if(!confirm('Oprez! Pritiskom na OK podaci se neće moći vratiti! Želite li nastaviti?'))e.preventDefault();
    else {
        $.ajax({
            url: '/members/remove/'+{{member_id}},
            type: 'POST',
            success: function(data)
            {
                window.location.href="/members/list"
            }
        })};
}

function goBack() {
  window.history.back();
}

</script>

<div class="container">
  <h2>Forma za izmjenu podataka o članu</h2>
  <form class="form-horizontal" method="post">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Ime:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" value="{{ member[0] }}" name="name" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="lastname">Prezime:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="lastname" value="{{ member[1] }}" name="lastname" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="nickname">Nadimak:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nickname" value="{{ member[2] }}" name="nickname">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="oib">OIB:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="oib" value="{{ member[3] }}" name="oib" required>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label col-sm-2" for="phone">Broj mobitela:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="phone" value="{{ member[4] }}" name="phone" required>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label col-sm-2" for="dateofbirth">Datum rođenja:</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="dateofbirth" value="{{ member[5] }}" name="dateofbirth" required>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label col-sm-2" for="membership">Datum učlanjenja:</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="membership" value="{{ member[6] }}" name="membership" required>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label col-sm-2" for="idcard">Broj članske iskaznice:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="idcard" value="{{ member[7] }}" name="idcard" required>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" value="{{ member[8] }}" name="email" required>
      </div>
    </div>
      {% if session['access_level'] == 0 %}
    <div class="form-group">
      <label class="control-label col-sm-2" for="section">Sekcija:</label>
      <div class="col-sm-10">
        <select class="form-control" id="section" name="section" required>
            {% for k,v in sections.items() %}
                {% if k == member_section %}
                    <option value="{{ k }}" selected>{{ sections[member_section] }}</option>
                {% elif k != 'svi' %}
                <option value="{{ k }}" >{{ v }}</option>
                {% endif %}
            {% endfor %}
      </select>
      </div>
    </div>
      {% else %}
      <div class="form-group">
            <label class="control-label col-sm-2" for="section2">Sekcija:</label>
            <div class="col-sm-10">
              <select class="form-control" id="section2" name="section" required>
                  <option value="{{ member_section }}" selected disabled>{{ sections[member_section] }}</option>
            </select>
            </div>
          </div>
      {% endif %}
      <div class="form-group">
            <label class="control-label col-sm-2" for="section2">Boja iskaznice:</label>
            <div class="col-sm-10">
              <select class="form-control" id="card" name="cardcolor" required>
                  {% for k,v in cards.items() %}
                    {% if k == member_card %}
                        <option value="{{ k }}" selected>{{ v }}</option>
                    {% else %}
                        <option value="{{ k }}">{{ v }}</option>
                    {% endif %}
                  {% endfor %}
            </select>
            </div>
          </div>
      <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-warning" onclick="goBack()">Odustani</button>
          <button type="button" class="btn btn-danger" onclick="clicked(event)">Arhiviraj člana</button>
      </div>
    </div>
  </form>
</div>

</body>
{% endblock content %}
