{% extends "base.html" %}
{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
.parent ~ .cchild {
  display: none;
}
.open .parent ~ .cchild {
  display: table-row;
}
.parent {
  cursor: pointer;
}
</style>
<body>
<h2 style="text-align:center">Statistika od {{days[0]}}.{{months[0]}}.{{years[0]}}. godine do {{days[1]}}.{{months[1]}}.{{years[1]}}. godine</h2>
<h4 style="text-align:center">Klikom na red se otvara detaljnija statistika za tog člana</h4>
<form class="form-vertical" method="post">
<label for="start_date">Izaberi početni datum:</label>
<input type="date" id="start_date" name="start_date"
       value="{{years[0]}}-{{monthds[0]}}-{{days[0]}}">
    <label for="end_date">Izaberi konačni datum:</label>
<input type="date" id="end_date" name="end_date"
       value="{{years[1]}}-{{monthds[1]}}-{{days[1]}}">
    <button type="submit" class="btn btn-success" name="action">Potvrdi</button>
</form>
<table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Nadimak</th>
            <th>Ukupan broj sati</th>
            <th>Ukupan broj sati težinski</th>
        </tr>
        </thead>
        {% for section_name in sections %}
            <tbody>
            <tr class="parent">
                <td colspan="3" align="middle" bgcolor="#ab7200">{{section_name}} sekcija<i class="glyphicon glyphicon-user" style="align: center"></i></td>
                <td>{{section_hours[section_name]['total_hours']}}</td>
                <td>{{section_hours[section_name]['total_hours_w']}}</td>
            </tr>
        {% for k, v in members_list[section_name].items() %}
            <tr class='clickable-row cchild' data-href="{{ url_for('statistics.member_statistics', member_id = k )}}">
                {% for value in v %}
                    <td>
                        {{ value }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
            </tbody>
    {% endfor %}
    </table>

<button type="button" class="btn btn-success" onclick="exportData(false)">Export</button>
{% if session['access_level'] == 0 %}
    <button type="button" class="btn btn-primary" onclick="exportData(true)">Export svih sekcija</button>
{% endif %}

<script>
    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});

function exportData(all)
{
    var start_date = document.getElementById('start_date').value;
    var end_date = document.getElementById('end_date').value;
    window.location.href="/statistics/export?start_date=" + start_date + "&end_date=" + end_date + "&all_sections=" + all;
}

$('table').on('click', 'tr.parent .glyphicon-user', function(){
  $(this).closest('tbody').toggleClass('open');
});
</script>
</body>
{% endblock content %}