{% extends "base.html" %}
{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
<h2 style="text-align:center">Statistika sekcijskih dežurstava od {{days[0]}}.{{months[0]}}.{{years[0]}}. godine do {{days[1]}}.{{months[1]}}.{{years[1]}}. godine</h2>
<form class="form-vertical" method="post">
<label for="start_date">Izaberi početni datum:</label>
<input type="date" id="start_date" name="start_date"
       value="{{years[0]}}-{{monthds[0]}}-{{days[0]}}">
    <label for="end_date">Izaberi konačni datum:</label>
<input type="date" id="end_date" name="end_date"
       value="{{years[1]}}-{{monthds[1]}}-{{days[1]}}">
    <button type="submit" class="btn btn-success" name="action">Potvrdi</button>
</form>
<table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Sekcija</th>
            <th>Ukupan broj dežurstava</th>
        </tr>
        </thead>
        {% for section_name in sections %}
            <tr>
                {% if section_name == 'svi' %}
                    <td>Mješano dežurstvo</td>
                {% else %}
                    <td>{{sections[section_name]}}</td>
                {% endif %}
                <td>{{section_count[section_name]}}</td>
            </tr>
        {% endfor %}
    </table>

<div id="graph"></div>

<script>
window.onload = function () {
    var graphData = [];
    {% for section_name in sections %}
        var sectionName;
        {% if section_name == 'svi' %}
            sectionName = "Mješano dežurstvo";
        {% else %}
            sectionName = "{{sections[section_name]}}";
        {% endif %}
        graphData.push({y: {{ section_count[section_name] }}, label: sectionName});
    {% endfor %}

    var chart = new CanvasJS.Chart("graph", {
        animationEnabled: true,

        title:{
            text:"Sekcijska dežurstva od {{days[0]}}.{{months[0]}}.{{years[0]}}. godine do {{days[1]}}.{{months[1]}}.{{years[1]}}. godine"
        },
        data: [{
            type: "pie",
            startAngle: 240,
		    indexLabel: "{label} {y}",
            dataPoints: graphData
        }]
    });
    chart.render();
};

    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
</body>
{% endblock content %}