<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">KSET - Volonterski sati</a>
        </div>
        <ul class="nav navbar-nav">
            {% if g.user is none %}
            <li><a>Bok! Da bi koristio aplikaciju moraš se ulogirati!</a></li>
            {% else %}
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Članovi<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% if session['access_level'] <= 1 %}
                        <li><a href="/members/add">Dodaj člana</a></li>
                    {% endif %}
                  <li><a href="/members/list">Lista članova</a></li>
                    {% if session['access_level'] <= 1 %}
                        <li class="divider"></li>
                        <li><a href="/members/associate">Pridruži člana vlastitoj sekciji</a></li>
                    {% endif %}
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Aktivnosti<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% if session['access_level'] <= 1 %}
                        <li><a href="/activities/add">Dodaj aktivnost</a></li>
                    {% endif %}
                  <li><a href="/activities/list">Pregled aktivnosti</a></li>
                  <li class="divider"></li>
                    {% if session['access_level'] <= 1 %}
                        <li><a href="/activities/add_type">Dodaj tip aktivnosti</a></li>
                    {% endif %}
                    <li><a href="/activities/list_types">Pregled tipova aktivnosti</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Statistika<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/statistics/monthly">Mjesečna statistika</a></li>
                  <li><a href="/statistics/interval">Intervalna statistika</a></li>
                </ul>
            </li>
            <li><a href="/members/archive" id="archive">Arhiva članova</a></li>
            {% if session['access_level'] <= 1 %}
            <li><a href="/accounts/list" id="accountlist">Lista korisničkih računa</a></li>
            {% endif %}
            {% if session['access_level'] == 0 %}
            <li><a href="/statistics/section_stats" id="section_stats">Statistika sekcijskih dežurstava</a></li>
            {% endif %}
            {% endif %}
        </ul>

        {% if g.user is not none %}
        <ul class="nav navbar-nav navbar-right">
            <li><a onclick="window.location.href='/auth/logout'"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
        {% endif %}
    </div>
</nav>