{% extends "base.html" %}
{% block content %}
<head>
  <title>Dodaj tip aktivnosti</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Forma za dodavanje tipa aktivnosti</h2>
  <form class="form-horizontal" method="post">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Naziv tipa aktivnosti:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="Unesi naziv tipa aktivnosti" name="name" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="description">Opis tipa aktivnosti:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="description" placeholder="Unesi opis tipa aktivnosti" name="description" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="section">Matična sekcija:</label>
          {% if session['access_level'] > 0 %}
          <div class="col-sm-10">
              <select class="form-control" name="section" required>
                  <option value='{{session["section"]}}' selected disabled>{{session["section"]}}</option>
              </select>
          </div>
          {% else %}
      <div class="col-sm-10">
        <select class="form-control" id="section" name="section" required>
            <option value="" selected disabled hidden>Izaberi dežurnu sekciju</option>
            <option value="svi">Sve sekcije</option>
            <option value="bike">Bike</option>
            <option value="disco">Disco</option>
            <option value="dramska">Dramska</option>
            <option value="foto">Foto</option>
            <option value="glazbena">Glazbena</option>
            <option value="pijandure">Pijandure</option>
            <option value="comp">Računarska</option>
            <option value="tech">Tehnička</option>
            <option value="video">Video</option>
      </select>
      </div>
          {% endif %}
    </div>
      <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Dodaj tip aktivnosti</button>
      </div>
    </div>
  </form>
</div>

</body>
{% endblock content %}
