{% extends "base.html" %}
{% block content %}
<head>
  <title>Dodaj aktivnost</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Izmjena sati članova koji su došli na aktivnost {{ activity_name }} dana {{ activity_date }}. godine</h2>
  <form class="form-horizontal" method="post">
      {% for k,v in members_list.items() %}
      <div class="row">
              <div class="form-group form-inline col-xs-6">
                <label class="form-label" for="{{ k }}">{{ v[0] }} {{ v[1] }}</label>
                <input type="number" min="0" step="0.25" class="form-control" id="{{ k }}" value={{v[2]}} name="hoursworked{{ k }}">
            </div>

            <div class="form-group form-inline col-xs-6">
                <label for="factor">Faktor</label>
                <input type="number" min="0" step="0.25" id="factor" class="form-control " value={{v[3]}} name="factor{{ k }}">
      </div>
            </div>
      {% endfor %}
      <div class="row">
      <div class="form-group">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-success">Submit</button>
          <button type="button" class="btn btn-warning" onclick="goBack()">Odustani</button>
      </div>
    </div>
          </div>
  </form>

</div>

</body>

<script>
    function goBack() {
  window.history.back();
}
</script>
{% endblock content %}
