<!doctype html>
<title>{% block title %}{% endblock %}KSET - Volonterski sati</title>
<body>
    {% include 'includes/nav.html' %} {# pull in navbar #}
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      {% block content %}{% endblock %}
    </section>
</body>